body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bulldog {
    margin-right: 15px;
    width: 80px; 
    height: 80px;
    border: 2px solid white;
    border-radius: 0px;
}


.education-content {
    display: flex;
    align-items: center;
}

#uga {
    margin-right: 15px;
    width: 80px; 
    height: 80px;
    border: 2px solid white;
    border-radius: 0px;
}

.honors-content {
    display: flex;
    align-items: center;
}

#honors {
    margin-right: 15px;
    width: 80px; 
    height: 80px;
    border: 2px solid white;
    border-radius: 0px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer i {
    font-size: 24px;
    margin-left: 10px;
}

.splash {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 50px 20px;
    background-color: #999494;
}

.splash h1 {
    font-weight: 700; 
    font-family: 'Roboto', sans-serif; 
    font-size: 3rem;
    color: #6347e0;
    margin-bottom: 20px; 
    text-shadow: 3px 6px 3px rgba(95, 91, 91, 0.5);
}

.splash p {
    margin-bottom: 10px;
    font-weight: 300;
}

.splash img {
    float: left;
    width: 150px;
    margin-right: 20px;
    margin-top: -130px;
    border: 2px solid #0056b3;
    border-radius: 60%;
}

address p {
    font-style: italic;
    font-size: 1.2rem;
    color: #5a2a2a;
    margin-top: 10px;
    line-height: 1.5;
}

.tagline {
    font-style: italic;
    font-size: 1.2rem;
    color: #595c59;
}

hr.b1 {
    border: 5px solid gray;
    border-radius: 10px;
}

hr.b2 {
    border-top: 3px dashed green;
}

hr.b3 {
    border-top: 3px dashed green;
}

hr.b4 {
    border: 3px solid blue;
    padding: 0;
    margin: 0;
}

section {
    padding: 20px;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: #2a9d8f;
    font-size: 2rem;
    margin-bottom: 10px;
}

.education-paragraph {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #333;
    margin-top: 10px;
}

.honorAwards {
    display: grid;
    grid-template-columns: 500px auto;
    gap: 10px;
}

.honorAwards dt {
    font-weight: bold;
    color: #525756;
}

.honorAwards dd {
    margin-left: 0;
}

.education {
    display: grid;
    grid-template-columns: 650px auto;
    gap: 10px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #222;
    background-color: #eceaea;
    padding: 10px;
    border-left: 4px solid #004085;
}

.education img#honors {
    margin-right: 15px;
}

.education dt {
    font-weight: bold;
    color: #747a7a;
}

.education dd {
    margin-left: 0;
}

.Skills {
    padding: 20px;
}

.Skills ul {
    list-style-type: square;
    padding-left: 20px;
    color: #555;
}

.Leadership a {
    color: #0953a1; 
    text-decoration: none;
}

.Leadership a:hover {
    color: #ff5733;
    text-decoration: underline;
    background-color: #f0f0f0;
}

.Leadership {
    padding: 20px;
}

.Leadership dl dt, .Leadership dl dd {
    margin-left: 10px;
}

.Leadership .b4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    color: #004085;
}

.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #bbb7b7; 
    border: 1px solid #ddd; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px; 
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333; 
}

.card ul {
    list-style-type: disc; 
    padding-left: 20px;
}

.card ul li {
    margin-bottom: 10px; 
    color: #555;
}

.projects h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #0953a1; 
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.one-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #999494;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.one-col label {
    display: block;
    margin-bottom: 10px; 
    font-weight: bold;
}

.one-col input[type="text"],
.one-col input[type="email"],
.one-col textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.one-col input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin-top: 10px; 
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    font-size: 16px; 
}

.one-col input[type="submit"]:hover {
    background-color: #45a049; 
}